<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("8e5f0312-9e3d-4e4e-86eb-fee084ac655f");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
